.main_body {
    background-image: linear-gradient(rgb(134, 28, 28), rgb(178, 178, 178), black);
    min-height: 100vh;
}

.main_body hr {
    color: black;
    border: none;
    border-top: 3px solid black;
    width: 100%;
    margin: 0 auto;
    


}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 35vw;
    height: 20vh;
    background-color: green;
    border: 3px solid black;
    border-radius: 10px;
}

.card_holder {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    position: relative;
}

.left_half {
    width: 34vw;
}

.right_half {
    width: 66vw;
}

.playlist_card {
    background-image: linear-gradient(rgb(140, 59, 59), rgb(89, 30, 30), black);
    border-radius: 20px;
    width: 95%;
    height: 70vh;
    margin-top: 30px;
    margin-left: 30px;
}

.title_section {
    display: flex;
    justify-content: space-around;
}

.title_section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playlist_picture {
    border-radius: 20px;
}

.song_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    gap: 20px;
}

.song {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 10px;
}

.song_component {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 70%;
    margin-bottom: 10px;
    background-color: #C1D5CF;
    border-radius: 20px;
    padding: 10px;
    height: 45px;
    color: black;
}

.song_component button {
    flex-shrink: 0;
    width: 50px;
    height: 30px;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    border-style: black 10px;
}

.song_component div {
    background-color: transparent;
    margin: 0;
}

.song_component p {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.song_picture {
    border-radius: 20px;
    width: 100px;
    margin-bottom: 25px;
}

.music_tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text_in_image {
    position: absolute;
    bottom: 43%;
    left: 39%;
    font-size: x-large;
    font-weight: 900;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.spotify_connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.spotify_text {
    color: black;
    text-align: center;
    font-size: 16px;
    margin: 0;
    font-weight: bold;
}

.spotify_button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.searchbar {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
}