.main_body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
}

/* Dialog styling */
.dialog {
    background-color: transparent;
    border: 5px solid transparent;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/* Modal body styling */
.modal_body {
    background-image: linear-gradient(rgb(134, 28, 28), black);
    height: 50vh;
    width: 50vw;
    padding: 10px;
    font-weight: bold;
    font-family: var(--font-inter);
    color: white;
    text-align: center;
    border-radius: 30px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.modal_body h2 {
    margin-top: -50px;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#login_form input {
    margin-bottom: 10px;
}

#icon {
    height: 5vw;
    width: auto
}

#dawgify {
    font-size: calc(20pt + 1.7vw);
    color: black;
    font-weight: bolder;
    margin-right: 5px;
}

.message {
    margin-right: 40px;
}

.message h1 {
    font-size: calc(8px + 1.3vw);
}

.message p {
    font-size: calc(5px + 1.3vw);
}

.links {
    display: flex;
    font-size: x-large;
    gap: 8px;
    font-weight: bold;
}

.not_logged_in {
    display: flex;
    font-size: x-large;
    gap: 8px;
    font-weight: bold;
    margin-right: 40px;
}

.main_body a, 
.main_body h2 {
  color: white;
  width: 300px;
  text-decoration: none;
  font-family: Georgia, serif;
}

.p_link {
    cursor:pointer; 
}